---
import { BackgroundBeams } from "@/components/bg-beams";
---

<section class="relative max-full mx-auto h-[180px] card" id="contact">
  <div class="max-w-5xl mx-auto z-50">
    <h1
      class="flex flex-row mb-5 text-6xl font-bold leading-tight md:text-5xl lg:text-[50px]
bg-gradient-to-r from-cyan-900 via-fuchsia-800 to-blue-700 bg-clip-text text-transparent transition-all duration-300 ease-in-out"
    >
      Let's Connect
    </h1>

    <p
      class="text-sm leading-6 text-gray-600 dark:text-slate-400 sm:text-base lg:text-base"
    >
      If you want to stay up to date with my work be sure to<a
        href="https://www.t.me/elDevBlog"
        target="_blank"
        class="text-indigo-600 underline"
      >
        join my channel on Telegram</a
      >, or you can send me an <a
        href="mailto:edjalalov@hotmail.com"
        class="text-indigo-600 underline">email</a
      > and I'll be sure to get back to you.
    </p>
  </div>
  <!-- <BackgroundBeams client:load /> -->
</section>

<!-- 
  <h2
    class="text-2xl font-bold leading-10 tracking-tight text-slate-900 dark:text-slate-100"
  >
    My Writings
  </h2>
  <p class="mb-6 text-base text-slate-600 dark:text-slate-400">
    Along with coding I also like to write about life and technology. Here are
    some of my recent posts.
  </p>

  <div class="w-full max-w-4xl mx-auto my-7 xl:px-0">
    <div
      class="flex flex-col items-start justify-start md:flex-row md:space-x-7"
    >
      <div class="w-full md:w-2/3 space-y-7">
        <PostsLoop count="3" />

        <div class="flex items-center justify-center w-full py-5">
          <Button text="View All My Writing" link="/posts" />
        </div>
      </div>
    </div>
  </div>

-->
