---
import Layout from "../layouts/main.astro";
import Projects from "../components/projects/projects.astro";
import Separator from "../components/separator.astro";
import Contact from "../components/contact/contact.astro";
import Experience from "../components/experience/experience.astro";

import { Image } from "astro:assets";
import { Download } from "lucide-react";
import myImage from "@/assets/images/AvatarMe.webp";

//import experiences from "../collections/experiences.json";
---

<Layout title="Home">
  <div
    class="relative z-20 w-full max-w-6xl mx-auto mt-16 md:mt-24 lg:mt-20 xl:px-0 transition-all duration-1000"
  >
    <div
      class="flex flex-col-reverse gap-8 items-center md:flex-row justify-between"
    >
      <div
        class="flex flex-col flex-1 elementAnimate justify-center items-center md:justify-start md:items-start gap-4"
      >
        <h1
          class="flex flex-row mb-5 text-6xl font-bold leading-tight sm:text-6xl md:text-8xl lg:text-[110px]
bg-gradient-to-r from-cyan-900 via-fuchsia-800 to-blue-700 bg-clip-text text-transparent transition-all duration-300 ease-in-out"
        >
          Hi, I'm Elyor
        </h1>
        <p
          class="mb-4
        font-semibold
        text-slate-800
        dark:text-slate-200
        text-xl"
        >
          Sr. Front-end developer
        </p>

        <div
          class="bg-background flex justify-center items-center"
          onclick="() => {Astro.redirect('/Resume.pdf')}"
        >
          <div class="relative inline-flex group">
            <div
              class="absolute transitiona-all duration-1000 opacity-70 -inset-px bg-gradient-to-r from-cyan-700 via-fuchsia-700 to-blue-700 rounded-xl blur-lg group-hover:opacity-100 group-hover:-inset-1 group-hover:duration-200 animate-tilt"
            >
            </div>
            <a
              download="Resume.pdf"
              href="/Resume.pdf"
              title="Download resume"
              class="relative inline-flex items-center justify-center px-4 py-4 text-lg font-bold text-white transition-all duration-200 bg-slate-900 font-pj rounded-xl"
              role="button"
            >
              <Download
                size="18"
                className="mr-4 text-slate-700 dark:text-slate-200"
              />
              <span class="text-slate-700 dark:text-slate-200 text-sm">
                Download Resume
              </span>
            </a>
          </div>
        </div>
        <!--         <a href="/Resume.pdf" download="Resume.pdf"> Download Resume </a>
 -->
        <div class="relative group sm:w-60 mt-8">
          <div
            class="absolute transitiona-all duration-1000 opacity-80 -inset-px bg-gradient-to-r from-blue-900 via-cyan-800 to-fuchsia-700 rounded-xl blur-lg group-hover:opacity-100 group-hover:-inset-2 group-hover:duration-200 animate-tilt"
          >
          </div>
        </div>
      </div>

      <div class="relative md:flex md:w-1/3">
        <div class="relative z-50 w-56 md:w-96 elementAnimate">
          <div
            class="absolute bottom-0 z-40 w-14 h-14 -translate-x-7 translate-y-10 lg:top-auto top-0 lg:-translate-y-[330px] rounded-full"
          >
            <span
              class="elementAnimate relative z-20 flex items-center justify-center w-full h-full text-2xl border-8 border-white rounded-full dark:border-slate-950 bg-slate-100 dark:bg-background"
            >
              <span
                class="flex items-center justify-center w-full h-full bg-white border border-dashed rounded-full dark:bg-background border-slate-300 dark:border-slate-700"
                >👋</span
              >
            </span>
          </div>
          <div class="relative z-30 px-2">
            <Image
              quality={"high"}
              alt="Hero image"
              src={myImage}
              loading="eager"
              decoding="auto"
              class="elementAnimate relative w-80 mx-auto"
            />
          </div>
          <div
            class="absolute bottom-0 right-0 z-20 w-full h-[280px] md:h-[350px] lg:h-[420px] translate-x-0 -translate-y-px border border-dashed rounded-2xl bg-gradient-to-r dark:from-slate-950/60 dark:via-black/40 dark:to-slate-950/60 from-white via-slate-50 to-white border-slate-300 dark:border-slate-700"
          >
          </div>
        </div>
      </div>
    </div>
  </div>

  <Separator text="Work experience" />
  <Experience />
  <Separator text="Check out my projects" />
  <Projects />
  <Separator text="Contact" />
  <Contact />
</Layout>
