---
import Layout from "../layouts/main.astro";
import { Image } from "astro:assets";
import myImage from "@/assets/images/AvatarMe.webp";
import DownloadButton from "@/components/home/DownloadButton.jsx";
import Projects from "@/components/projects";
import Contact from "@/components/contact/contact.astro";
import Footer from "@/components/footer/footer";
import ExperienceSection from "@/components/experience/ExperienceSection";
---

<Layout>
  <div
    class="relative z-20 flex flex-col-reverse max-w-6xl md:mt-14 mx-auto gap-8 items-center md:flex-row justify-between"
  >
    <div
      class="flex flex-col flex-1 elementAnimate justify-center items-center md:justify-start md:items-start gap-4"
    >
      <h1
        class="-translate-x-2 flex mb-5 text-6xl font-bold leading-tight sm:text-6xl md:text-8xl lg:text-[110px]
bg-gradient-to-r from-cyan-900 via-fuchsia-800 to-blue-700 bg-clip-text text-transparent transition-all duration-300 ease-in-out"
      >
        Hi, I'm Elyor
      </h1>
      <p
        class="mb-4x
        font-semibold
        text-slate-800
        dark:text-slate-200
        text-xl"
      >
        Team Lead / Sr. Front-end developer
      </p>

      <DownloadButton client:load />
    </div>

    <!-- Hero image -->
    <div class="relative md:flex md:w-1/3">
      <div class="relative z-50 w-56 md:w-96 elementAnimate">
        <div
          class="absolute bottom-0 z-40 w-14 h-14 -translate-x-7 translate-y-10 lg:top-auto top-0 lg:-translate-y-[330px] rounded-full"
        >
          <span
            class="elementAnimate relative z-20 flex items-center justify-center w-full h-full text-2xl border-8 border-white rounded-full dark:border-slate-950 bg-slate-100 dark:bg-background"
          >
            <span
              class="flex items-center justify-center w-full h-full bg-white border border-dashed rounded-full dark:bg-background border-slate-300 dark:border-slate-700"
              >👋</span
            >
          </span>
        </div>
        <div class="relative z-30 px-2">
          <Image
            quality={"high"}
            alt="Hero image"
            src={myImage}
            loading="eager"
            decoding="auto"
            class="elementAnimate relative w-80 mx-auto"
          />
        </div>
        <div
          class="absolute bottom-0 right-0 z-20 w-full h-[280px] md:h-[350px] lg:h-[420px] translate-x-0 -translate-y-px border border-dashed rounded-2xl bg-gradient-to-r dark:from-slate-950/60 dark:via-black/40 dark:to-slate-950/60 from-white via-slate-50 to-white border-slate-300 dark:border-slate-700"
        >
        </div>
      </div>
    </div>
  </div>
  <ExperienceSection slot="experience" client:load />
  <Projects slot="projects" client:load />
  <Contact slot="contacts" />
  <Footer slot="footer" client:load />
</Layout>
