---
import projects from "../collections/projects.json";

import Project from ".././components/project.astro";
import { Button } from ".././components/ui/button";
---

<section class="relative max-w-5xl mx-auto">
  <div class="flex flex-col">
    <h1
      class="px-4 flex flex-row mb-5 font-bold leading-tight lg:text-[50px] text-4xl sm:text-5xl md:text-6xl lg:text-7xl
bg-gradient-to-r from-cyan-900 via-fuchsia-800 to-blue-700 bg-clip-text text-transparent transition-all duration-300 ease-in-out"
    >
      My Projects
    </h1>
    <p class="mb-6 px-4 text-base dark:text-muted-foreground">
      Here are some of my recent projects. I'm always working on something new,
      so check back often!
    </p>
  </div>
  <div
    class="card px-4 relative grid items-stretch w-full sm:grid-cols-2 md:grid-cols-3 gap-7 mt-7"
    id="projects"
  >
    {
      projects.map(project => {
        return (
          <Project
            name={project.name}
            description={project.description}
            image={project.image}
            url={project.url}
          />
        );
      })
    }
  </div>
  <!--  <div class="flex items-center justify-center w-full py-5">
    <a href="/projects">
      <Button className="rounded-full"> View All My Projects </Button>
    </a>
  </div> -->
</section>
