---
import projects from "../collections/projects.json";
import PageHeading from "../components/page-heading.astro";
import Project from "../components/project.astro";
import SquareLines from "../components/square-lines.astro";
import Layout from "../layouts/main.astro";
---

<section class="relative z-20 max-w-5xl">
  <h2 class="mb-2 text-2xl font-bold">My Projects</h2>

  <div
    class="z-50 grid items-stretch w-full grid-cols-1 my-8 gap-7 sm:gap-5 sm:grid-cols-2"
  >
    {
      projects.map(project => {
        return (
          <Project
            name={project.name}
            description={project.description}
            image={project.image}
            url={project.url}
          />
        );
      })
    }
  </div>
</section>
