---
import menus from "@/collections/menu.json";
import Logo from "@/components/logo.astro";
---

<!-- This is an invisible div with relative position so that it takes up the height of the menu (because menu is absolute/fixed) -->
<div class="relative h-14 opacity-0 pointer-events-none"></div>
<header id="header" class="absolute top-0 z-50 h-14 w-screen">
  <div
    class="flex items-center justify-between h-14 px-4 lg:max-w-7xl md:mx-auto border-b border-l-0 border-r-0 border-transparent select-none lg:border-r lg:border-l lg:rounded-b-xl gap-2"
  >
    <Logo />

    <nav
      transition:persist
      class="relative z-30 flex w-screen text-sm justify-center md:justify-end text-slate-500"
    >
      <div
        class="ease-out duration-300 items-center justify-center relative flex w-auto"
      >
        {
          menus.map(menu => {
            return (
              <a
                data-target={menu.url}
                href={menu.url}
                class="text-xs sm:text-sm relative flex items-center justify-center px-1 sm:px-3 font-medium tracking-wide text-center w-auto hover:text-slate-900 dark:hover:text-white text-slate-700 dark:text-slate-400"
              >
                {menu.name}
              </a>
            );
          })
        }
      </div>
    </nav>

    <div
      id="themeToggle"
      class="pl-6 relative flex items-center font-medium tracking-wide cursor-pointer text-slate-800 group dark:text-muted-foreground"
    >
      <div
        class="absolute left-0 flex items-center justify-center w-6 h-6 overflow-hidden border-b border-transparent horizon text-slate-700
        dark:text-slate-400"
      >
        <svg
          class="absolute w-6 h-6 transition duration-500 transform ease"
          id="sun"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke="currentColor"
          ><path
            d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"
          ></path></svg
        >
        <svg
          class="absolute hidden w-6 h-6 transition duration-500 transform ease"
          id="moon"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke="currentColor"
          ><path
            d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"
          ></path></svg
        >
      </div>
    </div>
  </div>
</header>

<!-- This script for blocking flash on refresh page in dark mode -->
<script is:inline>
  function applyTheme() {
    localStorage.theme === "dark"
      ? document.documentElement.classList.add("dark")
      : document.documentElement.classList.remove("dark");
  }

  document.addEventListener("astro:after-swap", applyTheme);
  applyTheme();
</script>
