---
const { link, text } = Astro.props;
---

<a
  href={link}
  class="inline-flex w-auto px-4 py-2 mt-5 text-xs font-semibold duration-300 ease-out border rounded-full bg-slate-900 dark:bg-white dark:text-slate-900 text-slate-100 hover:border-slate-700 border-slate-900 dark:hover:border-slate-300 hover:bg-white dark:hover:bg-black dark:hover:text-white hover:text-slate-900"
>
  <button class="cursor-pointer">
    {text}
  </button>
</a>
