---
import { getCollection } from "astro:content";
import PostCard from "./postCard.astro";

const allPosts = await getCollection("post");
const { count } = Astro.props;

const posts = allPosts.slice(0, count).map((post: { data: any; slug: any; }) => {
  return {
    ...(post.data || {}),
    link: `/post/${post.slug}`,
  };
});
---

<div class="z-50 flex flex-col items-stretch w-full gap-5 my-8">
  {posts.map((post: any) => <PostCard post={post} />)}
</div>
