---
import ErrorPage from "@/components/ErrorPage.astro";
import Footer from "../components/footer/footer.astro";
import Header from "../components/home/header.astro";
import SquareLines from "../components/home/square-lines.astro";
import { ViewTransitions, fade } from "astro:transitions";
---

<html lang="en">
  <head>
    <title>Elyor Djalalov</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Personal portfolio" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <script src="../styles/globals.css"></script>
    <slot name="head" />
    <ViewTransitions fallback="swap" />
  </head>

  <body class="antialiased bg-white dark:bg-slate-950 w-screen h-full">
    <SquareLines />
    <slot />
    <ErrorPage />
  </body>
</html>
