---
import { BackgroundBeams } from "../components/bg-beams";
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import SquareLines from "../components/square-lines.astro";
import { ViewTransitions, fade } from "astro:transitions";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <title>EL | {title}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-30591NX8HQ"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-30591NX8HQ");
    </script>
    <!--  <meta
      http-equiv="Content-Security-Policy"
      content="
      default-src 'self' https://*.cloudflareinsights.com;
      script-src 'self'
        'unsafe-inline'
        'unsafe-eval'
        https://*.cloudflare.com
        https://*.cloudflareinsights.com
        https://cdnjs.cloudflare.com
        https://*.google.com
        https://*.githubusercontent.com
        chrome-extension:
        'report-sample';
      style-src 'self'
        'unsafe-inline'
        https://fonts.googleapis.com
        https://*.githubusercontent.com;
      img-src 'self'
        data:
        blob:
        https:
        chrome-extension:
        https://*.githubusercontent.com;
      font-src 'self'
        https://fonts.gstatic.com
        data:;
      connect-src 'self'
        https://*.google.com
        https://*.cloudflare.com
        https://*.cloudflareinsights.com
        https://*.githubusercontent.com
        https://*.github.io;
      frame-src 'self'
        https://*.google.com;
      worker-src 'self'
        blob:;
      manifest-src 'self';
      media-src 'self';
      object-src 'none';
      base-uri 'self';
      form-action 'self';"
    /> -->

    <style>
      .prose img {
        border-radius: 20px;
      }
    </style>

    <link rel="icon" type="image/x-icon" href="../assets/images/favicon.png" />

    <script src="../assets/css/main.css"></script>
    <slot name="head" />
    <ViewTransitions fallback="swap" />
  </head>

  <body class="antialiased bg-white dark:bg-slate-950">
    <!--     <SquareLines />  -->
    <Header />
    <BackgroundBeams client:load />
    <slot />

    <Footer />
    <script src="../assets/js/main.js"></script>
  </body>
</html>
