---
import Header from "../components/home/header.astro";
import SquareLines from "../components/home/square-lines.astro";
import { ClientRouter } from "astro:transitions";
import SpeedInsights from "@vercel/speed-insights/astro";
import Separator from "@/components/separator.astro";
---

<html lang="en" transition:name="root" transition:animate="none">
  <head>
    <title>Elyor Djalalov</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Personal portfolio" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <script src="../styles/globals.css"></script>
    <slot name="head" />
    <ClientRouter fallback="animate" />
  </head>

  <body class="antialiased bg-white dark:bg-slate-950 w-screen">
    <SquareLines />
    <Header />
    <slot />
    <Separator text="Work experience" />
    <slot name="experience" />
    <Separator text="Apps I build" />
    <slot name="projects" />
    <Separator text="Contact" />
    <slot name="contacts" />
    <slot name="footer" />
    <script src="../assets/js/main.js"></script>
    <SpeedInsights />
  </body>
</html>
