---
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import SquareLines from "../components/square-lines.astro";
import { ViewTransitions, fade } from "astro:transitions";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta
      http-equiv="Content-Security-Policy"
      content="
  default-src 'self';
  script-src 'self'
    'unsafe-inline'
    'unsafe-eval'
    https://cdnjs.cloudflare.com
    https://*.google.com
    chrome-extension:
    'report-sample'
    'wasm-unsafe-eval' /* For WASM content if needed */
    blob: /* For dynamic imports */;
  style-src 'self'
    'unsafe-inline'
    https://fonts.googleapis.com;
  img-src 'self'
    data:
    blob:
    https:
    chrome-extension:;
  font-src 'self'
    https://fonts.gstatic.com;
  connect-src 'self'
    https://*.google.com
    ws://localhost:* /* For Astro dev server */
    http://localhost:*;
  worker-src 'self'
    blob:
  manifest-src 'self';
  frame-src 'self'
    https://*.google.com;"
    />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <!-- Used to add dark mode right away, adding here prevents any flicker -->

    <style>
      .prose img {
        border-radius: 20px;
      }
    </style>

    <link rel="icon" type="image/x-icon" href="../assets/images/favicon.png" />
    <ViewTransitions fallback="animate" />

    <script src="../assets/css/main.css"></script>
    <Fragment set:html={import.meta.env.HEADER_INJECT} />
  </head>

  <body
    class="antialiased bg-white dark:bg-slate-950"
    transition:animate="fade"
  >
    <SquareLines />
    <Header />
    <slot />
    <Footer />
    <script src="../assets/js/main.js"></script>
    <Fragment set:html={import.meta.env.FOOTER_INJECT} />
  </body>
</html>
